@model IEnumerable<princeshop.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";
}
<br><h4>@ViewData["Title"]</h4><br>
  <div class="container" >
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body" style="text-align: center;">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="250" height="300"
                       src="/images/@item.ImageName" alt="@item.ImageName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                  <p class="card-text" style="text-align: center;">S/.@Html.DisplayFor(modelItem => item.Precio)</p>
                  <p style="text-align: center;"><a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Elegir talla</a></p>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>