@model IEnumerable<princeshop.Models.Pedido>

@{
    ViewData["Title"] = "Pedidos";
    var count = 1;
}
<br>
<h3>Pedidos</h3>
<br>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                        №
             </th>
             <th scope="col">
                 @Html.DisplayNameFor(model => model.UserID)
             </th>
             <th scope="col">
                  @Html.DisplayNameFor(model => model.Total)
             </th>
                    
              <th scope="col">
                 Pago @Html.DisplayNameFor(model => model.pago.Id)
              </th>
               <th scope="col">
                 @Html.DisplayNameFor(model => model.Status)
              </th>
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                    @count
            </th>
            <td>
                 @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
               S/. @Html.DisplayFor(modelItem => item.Total)
            </td>                
            <td>
                @Html.DisplayFor(modelItem => item.pago.Id)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
        count++;
}
    </tbody>
</table>
<div class="container">        
    <a asp-action="ExportarExcel" class="btn btn-primary">GENERAR REPORTE</a>
</div>
